.progress-container {
  display: grid;
  /* justify-items: center; */
  place-items: center;
  position: relative;
}

.progress-container::after {
  content: attr(aria-valuenow) "%";
  display: grid;
  left: 0;
  top: 0;
  position: absolute;
  color: var(--color-on-surface-light);
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.2rem;
  place-items: center;
  z-index: 30;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-bg {
  fill: none;
  stroke: #e0e0e0;
}

.progress-ring-circle {
  fill: none;
  stroke: #1b8d60;
  stroke-linecap: round;
  stroke-dasharray: 283; /* Calculated from 2 * PI * radius */
  transition: stroke-dashoffset 0.5s ease;
}